<a href="https://colab.research.google.com/github/slpires/IGTIDesenvolvedorPython/blob/master/Desafio4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np # vetores e matrizes
import pandas as pd # pre-processamento

In [ ]:
#lendo o arquivo
df_doencas_coracao=pd.read_csv('doencas_coracao.csv')

In [ ]:
df_doencas_coracao.head()

    age  anaemia  creatinine_phosphokinase  ...  smoking  time  DEATH_EVENT
0  75.0        0                       582  ...        0     4            1
1  55.0        0                      7861  ...        0     6            1
2  65.0        0                       146  ...        1     7            1
3  50.0        1                       111  ...        0     7            1
4  65.0        1                       160  ...        0     8            1

[5 rows x 13 columns]

In [ ]:
#verificando a quantidade de instâncias e colunas existentes
df_doencas_coracao.shape

(299, 13)

In [ ]:
df_doencas_coracao.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   age                       299 non-null    float64
 1   anaemia                   299 non-null    int64
 2   creatinine_phosphokinase  299 non-null    int64
 3   diabetes                  299 non-null    int64
 4   ejection_fraction         299 non-null    int64
 5   high_blood_pressure       299 non-null    int64
 6   platelets                 299 non-null    float64
 7   serum_creatinine          299 non-null    float64
 8   serum_sodium              299 non-null    int64
 9   sex                       299 non-null    int64
 10  smoking                   299 non-null    int64
 11  time                      299 non-null    int64
 12  DEATH_EVENT               299 non-null    int64
dtypes: float64(3), int64(10)
memory usage: 30.5 KB

In [ ]:
df_doencas_coracao.age.mean()

60.83389297658862

In [ ]:
df_doencas_coracao.describe()

              age     anaemia  ...        time  DEATH_EVENT
count  299.000000  299.000000  ...  299.000000    299.00000
mean    60.833893    0.431438  ...  130.260870      0.32107
std     11.894809    0.496107  ...   77.614208      0.46767
min     40.000000    0.000000  ...    4.000000      0.00000
25%     51.000000    0.000000  ...   73.000000      0.00000
50%     60.000000    0.000000  ...  115.000000      0.00000
75%     70.000000    1.000000  ...  203.000000      1.00000
max     95.000000    1.000000  ...  285.000000      1.00000

[8 rows x 13 columns]

In [ ]:
df_faleceram=df_doencas_coracao[df_doencas_coracao.DEATH_EVENT==1]

In [ ]:
df_faleceram.age.mean()

65.21528125

In [ ]:
df_sobreviveram=df_doencas_coracao[df_doencas_coracao['DEATH_EVENT']==0]

In [ ]:
df_sobreviveram.head()

     age  anaemia  creatinine_phosphokinase  ...  smoking  time  DEATH_EVENT
14  49.0        1                        80  ...        0    12            0
20  65.0        1                        52  ...        0    16            0
23  53.0        0                        63  ...        0    22            0
33  50.0        1                       159  ...        0    29            0
38  60.0        0                      2656  ...        0    30            0

[5 rows x 13 columns]

In [ ]:
df_sobreviveram.sex.value_counts()

1    132
0     71
Name: sex, dtype: int64

In [ ]:
df_sobreviveram[df_sobreviveram.sex==0].count()

age                         71
anaemia                     71
creatinine_phosphokinase    71
diabetes                    71
ejection_fraction           71
high_blood_pressure         71
platelets                   71
serum_creatinine            71
serum_sodium                71
sex                         71
smoking                     71
time                        71
DEATH_EVENT                 71
dtype: int64

In [ ]:
#separando os dados entre entrada e saída 
entrada=df_doencas_coracao.iloc[:,:-1].values
saida=df_doencas_coracao['DEATH_EVENT'].values

In [ ]:
#importando o módulo sklearn
from sklearn.preprocessing import MinMaxScaler #biblioteca utilizada para a normalização dos dados


#aplicando a normalização para os dados
normaliza = MinMaxScaler() #objeto para a normalização
entradas_normalizadas=normaliza.fit_transform(entrada) #aplica a normalização

In [ ]:
#dividindo os dados entre treinamento e teste 
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test=train_test_split(entradas_normalizadas, saida, test_size=0.30,random_state=42)

In [ ]:
#aplicando o KNN
from sklearn.neighbors import KNeighborsClassifier
clf_KNN = KNeighborsClassifier(n_neighbors=5) #utiliza a construção por meio de 5 vizinhos
clf_KNN.fit(X_train, y_train) # aplica a classificação

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [ ]:
#avalia a acurácia do modelo
#realiza a previsão
y_pred = clf_KNN.predict(X_test)

In [ ]:
#constroi a matriz de confusão para comparar o modelo criado
from sklearn.metrics import classification_report, confusion_matrix
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.61      0.96      0.74        53
           1       0.67      0.11      0.19        37

    accuracy                           0.61        90
   macro avg       0.64      0.54      0.47        90
weighted avg       0.63      0.61      0.51        90

In [ ]:
from sklearn.tree import DecisionTreeClassifier # importa o classificador árvore de decisão

# Cria o objeto de classificação através do 
clf_arvore = DecisionTreeClassifier(random_state=1)

# Realiza o treinamento do classificador
clf_arvore = clf_arvore.fit(X_train,y_train)

#Realiza a previsão de classificaçao 
y_pred = clf_arvore.predict(X_test)

In [ ]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.69      0.79      0.74        53
           1       0.62      0.49      0.55        37

    accuracy                           0.67        90
   macro avg       0.65      0.64      0.64        90
weighted avg       0.66      0.67      0.66        90

In [ ]:
#definição da biblioteca
from sklearn.neural_network import MLPClassifier

#define a configuração da rede
clf_mlp = MLPClassifier(solver='lbfgs', alpha=1e-5, hidden_layer_sizes=(5, 10), random_state=1) #rede com escondidas com 5 neurônios cada 

#realiza o fit do modelo
clf_mlp.fit(X_train,y_train)

#realiza a previsão
y_pred=clf_mlp.predict(X_test)

In [ ]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.68      0.96      0.80        53
           1       0.87      0.35      0.50        37

    accuracy                           0.71        90
   macro avg       0.77      0.66      0.65        90
weighted avg       0.76      0.71      0.67        90

**Parte Concorrência**

In [ ]:
import threading
import time


def contador():
     x = 1000000000
     while x > 0:
           x -= 1

start_time = time.clock()
def implementacao_1():
     thread_1 = threading.Thread(target=contador)
     thread_2 = threading.Thread(target=contador)
     thread_1.start()
     thread_2.start()
     thread_1.join()
     thread_2.join()
end_time = time.clock()

print(end_time-start_time)

def implementacao2():
     contador()
     contador()

6.699999999959516e-05

**Parte da Programação Reativa**

In [ ]:
pip install rx

Collecting rx
  Downloading https://files.pythonhosted.org/packages/90/6c/5f1839d9ae2a8c85d119c51acaff1f1382f68691cb0f1cb3d0c9fdd32a93/Rx-3.1.1-py3-none-any.whl (197kB)
     |████████████████████████████████| 204kB 4.3MB/s
Installing collected packages: rx
Successfully installed rx-3.1.1

In [ ]:
import rx
import rx.operators as ops

#source = rx.from_iterable([5,4,3,2,1])
source = rx.from_iterable([5,4,3,"2",1])

disposable=source.pipe(
    #ops.map(lambda i: i if i<3 else 0),
    #ops.filter(lambda i: i>0),
    #ops.map(lambda i:i%2==0),
    ops.filter(lambda i: i%2==0),
).subscribe(
    on_next=lambda i: print("on_next: {}".format(i)),
    on_completed=lambda: print("on_completed"),
    on_error=lambda e:print("on_error: {}".format(e))
)

disposable.dispose()

on_next: 4
on_error: not all arguments converted during string formatting